/* .homeWelcome {
  font-size: 50px;
  margin: 30px;
} */

.row1 {
  display: flex;
  flex-direction: row;
}

.row2 {
  display: flex;
  flex-direction: row;
}

.dogSection {
  margin-bottom: 20px;
  width: 70%;
}

.dogPics {
  display: flex;
  flex-direction: row;
  width: 98%;
  margin-bottom: 20px;
}

.homeDogPicTitle {
  width: 100%;
  margin: 30px 20px 0px 20px;
  text-align: center;
  /* object-fit: cover; */
} 

.homeDogPic {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* height: fit-content; */
  height: 80%;
  cursor: pointer;
}

.subtitle {
  font-size: 25px;
  background-color: rgba(22, 52, 107, 0.932);
  color: rgb(250, 250, 250);
  text-align: center;
}

.eventSection {
  width: 33%;
}

.events {
  margin: 25px;
}

.eventTitle {
  font-size: 23px;
}

.blogPics {
  display: flex;
  flex-direction: row;
  width: 98%;
}

.blogPic {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
}

.postSection {
  width: 70%;
}

.homeBlogPicTitle {
  width: 32%;
  margin: 30px 20px 0px 20px;
}

.blogPics {
  display: flex;
  flex-direction: row;
  width: 98%;
  margin: 0px;
}

.homeTopic {
  width: 95%;
  justify-content: center;
  margin: 10px;
}

#rightBtn {
  margin-right: 44px;
}

.fosteringSection {
  width: 33%;
}

ul {
  list-style-type: none;
  text-align: center;
  margin: 20px;
}
