body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.furry-friends {
  font-family: 'Poppins', sans-serif;;
}

img {
  height: 50%;
  width: 100%
}

.dogList {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
  margin: 15px;
  text-align: center
}

.blogList {
  border: 2px solid black;
  flex-wrap: wrap;
  flex-direction: row;
  width: 30%;
  margin: 15px;
  text-align: center;
}

.eventList {
  border: 2px solid black;
  /* background-color: rgba(122, 190, 159, 0.356); */
  flex-wrap: wrap;
  flex-direction: column;
  margin: 15px;
  text-align: center;
}

.userProfile {
  text-align: center;
}

h1 {
  background-color: rgba(22, 52, 107, 0.932);
  color:rgb(219, 207, 152);
  font: size 500px;
  padding: 20px;
  margin-bottom: 0;
  text-align: center;
}

h2 {
  text-align: center;
  /* border: 2px solid black */
} 

h4 {
  text-align: center;
  background-color:rgba(122, 190, 159, 0.485);
  padding: 10px;
  margin-top: 0
  /* border: 2px solid black */
} 