body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.furry-friends {
  font-family: 'Poppins', sans-serif;
}
.header {
  display: flex;
  background-color: rgba(22, 52, 107, 0.932);
}

.title {
  font-size: 75px;
}

.logo {
  height: 110px;
  width: 110px;
  /* display: block; 
  position: relative; */
  margin: 10px;
  margin-left: 25px;
}

h1 {
  color:rgb(240, 223, 147);
  padding: 20px;
  text-align: center;
  font-family: 'Ohayou Christmas', script;
  width: 100%;
  /* centers it \/ */
  position:absolute;
}

h2 {
  text-align: center;
  padding: 20px;
} 

h4, h5 {
  text-align: center;
  background-color:rgba(122, 190, 159, 0.485);
  padding: 10px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
} 

img {
  height: 50%;
  width: 100%
}

.homeWelcome {
  font-size: 50px;
  margin: 30px;
}

.row1 {
  display: flex;
  flex-direction: row;
}

.row2 {
  display: flex;
  flex-direction: row;
}

.dogSection {
  margin-bottom: 100px;
}

#homeDog {
  width: 100%;
  margin: 10px;
  text-align: center;
}

.homeDogPic {
  display: flex;
  flex-direction: row;
  width: 100%;
  height:fit-content
}

.subtitle {
  font-size: 18px;
  background-color:rgba(240, 223, 147, 0.795) ;
  color: rgba(22, 52, 107, 0.932);
  text-align: center;
}

.eventSection {
  width: 33%;
  margin: 10px;
}

.eventRow {
  display: flex;
  flex-direction: row;
}

.postSection {
  width: 65%;
  margin: 10px;
}

.homePost {
  width: 32%;
  margin: 10px;
  height: min-content;
}

.homeTopic1 {
  width: 100%;
  justify-content: center;
  margin: 10px;
}

.homeTopic2 {
  width: 100%;
  justify-content: center;
}

#homeTitle {
  font-size: 25px;
}

.dogList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;
  text-align: center
}

.dog {
  margin: 10px;
  padding: 10px;
  width: 23.5%;
  height: fit-content;
}

.dogProfile {
  /* border: 2px solid black; */
  padding: 10px;
  margin: 15px;
  width: 50%;
  text-align: left;
  /* display: flex */
  margin-left: auto;
  margin-right: auto;
}

.dogProfilePic {
  margin: 15px;
  width: 30%;
  height: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blogList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px;
  text-align: center;
}

.blog {
  margin: 25px;
  width: 30%;
  height: fit-content;
}

.eventList {
  /* border: 2px solid black; */
  /* background-color: rgba(122, 190, 159, 0.356); */
  flex-wrap: wrap;
  flex-direction: column;
  margin: 15px;
  /* padding: 10px; */
  text-align: left;
  font-size: large;
  line-height: 30px;
}

.userProfile {
  text-align: center;
}

#btn {
  margin: 10px;
  position: relative;
}

#uploadbtn {
  margin: 0px;
}

#rightBtn {
  float: right;
  margin-right: 20px;
}

.box {
  height: 20px;
  width: 20px;
  margin: 5px;
  display:inline-flex;
}

.radio {
  margin: 10px;
}

.dogForm {
  width: 80%;
  margin-left: auto;
  margin-right: auto;  
}

.filter-section {
  display: flex;
  flex-direction: row;  

}
/* 
.filter-group {
  margin: 10px;
} */

.filter-control {
  margin: 10px;

}