body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.furry-friends {
  font-family: 'Poppins', sans-serif;
}

img {
  height: 50%;
  width: 100%
}

.dogList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;
  text-align: center
}

.dog {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  width: 23.5%;
  height: fit-content;
}

.dogProfile {
  margin: 15px;
  text-align: center;
}

.dogProfilePic {
  margin: 15px;
  width: 40%;
  height: fit-content;
  justify-content: center;
}

.blogList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;
  text-align: center;
}

.blog {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  width: 32%;
  height: fit-content;
}

#rightBtn {
  float: right;
  margin-right: 20px;
}

.eventList {
  border: 2px solid black;
  /* background-color: rgba(122, 190, 159, 0.356); */
  flex-wrap: wrap;
  flex-direction: column;
  margin: 15px;
  text-align: left;
  font-size: large;
  line-height: 30px;
}

.userProfile {
  text-align: center;
}

.header {
  /* position: relative; */
  display: flex;
  /* margin-bottom: 0%; */
}

.title {
  font-size: 65px;
}

.logo {
  height: 118px;
  width: 118px;
  /* left: 100px; */
  /* display: inline-block; */
  /* float: right; */
  /* position: relative; */
  /* padding: 5px; */
}

h1 {
  background-color: rgba(22, 52, 107, 0.932);
  color:rgb(240, 223, 147);
  padding: 20px;
  text-align: center;
  font-family: 'Ohayou Christmas', script;
  /* float: left; */
  width: 100%;
  /* position: relative; */
}

h2 {
  text-align: center;
} 

h4, h5 {
  text-align: center;
  background-color:rgba(122, 190, 159, 0.485);
  padding: 10px;
  margin-top: 0;
} 

#btn {
  margin: 10px;
  position: relative;
}
